@import "tailwindcss";

.keyword-pill {
  background: var(--color-pill-bg);
}

#spotlight-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw;
  height: 100vh; */
  inset: 0;
  pointer-events: none; /* Allows interaction with elements beneath */
  background: radial-gradient(
    circle 600px at var(--mouse-x) var(--mouse-y),
    #0c1a3d,
    #0f172a
  );
}