@import "tailwindcss";

:root {
  --background: radial-gradient(circle,rgba(36, 40, 59, 1) 0%, rgba(26, 27, 38, 1) 100%);
  --selected-text: #33467c;
  --button-background: oklch(57.6% 0.152 274.9 / 87%);
}

@theme {
  --color-pill-bg: var(--button-background);
}

body {
  background: var(--background);
}

.keyword-pill {
  background: var(--button-background);
}